PORT=4000
FIREBASE_PROJECT_ID=anime-trivia-a7bb7
FIREBASE_CLIENT_EMAIL=firebase-adminsdk@anime-trivia-a7bb7.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nTU-LLAVE-AQUI\n-----END PRIVATE KEY-----\n"
WEBHOOK_SECRET=super-secret-token


